name: build-makefile
on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

jobs:
  build-makefile:
    name: ubuntu-makefile
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential zlib1g-dev

    - name: Build with Makefile
      run: |
        make

    - name: Test Makefile build
      run: |
        ./pngcheck -h
